<!--This page displays a form that allows a user to enter information about themselves, and upon clicking "SUbmit your Reservation",
    submits the information in the form to the controller-->
@model Tour



            <p>@ViewBag.Data</p>
<br />
<form asp-action="FormPost" method="post">
    <div>
        <input type="hidden" asp-for="TourId" />
        <input type="hidden" asp-for="DayTime" />
        <input type="hidden" asp-for="Avail" />
    </div>
    <div>
        <label asp-for="GroupName">Name of Group:</label>
        <input asp-for="GroupName" />
    </div>
    <div>
        <label asp-for="GroupSize">Size of Group:</label>
        <input asp-for="GroupSize" />
    </div>
    <div>
        <label asp-for="Email">Email Address:</label>
        <input asp-for="Email" />
    </div>
    <div>
        <label asp-for="PhoneNum">Phone Number:</label>
        <input asp-for="PhoneNum" />
    </div>
    <button type="submit">Submit your Reservation!</button>
</form>