<!--Home Page-->

<div class="text-center">
    <h1 class="display-4">Layton Utah Temple Tours</h1>
    <h3>Important info</h3>
    
    <p>Sunday Tours only</p>
    <p>The outside tours have been cancelled.</p>
    
    <br />
    <h3>Signup instructions</h3>
    
        
    <p>Masks are required!</p>
    <p>Park on Rosewood (west side of the temple)</p>
    <p>Meet at the Visitors Center trailer.</p>
    <p>Wear your Sunday best!</p>
  
    <br />
    <h6>Special accomodations can be made, be sure to click the appropriate box. Spanish tours are offered.</h6>
    
    <img src="~/img/Layton-Temple-exterior-rendering.jpg" />
    <br />
    <br />

    <!--button to the signup page-->
    <a class="btn btn-outline-primary" asp-action="Signups">Signup for a tour</a>

    <br />
    <br />
    <br />

</div>