<div class="text-center">
    <h1 class="display-4">Layton Utah Temple Tours</h1>
    <h3>Important info</h3>
    <ul>
        <li>Sunday Tours only</li>
        <li>The outside tours have been cancelled</li>
    </ul>
    <br />
    <h3>Signup instructions</h3>
    <ul>
        <li>Use the quanitty field to indicate how many people will be in your group.</li>
        <li>Masks are required</li>
        <li>Park on Rosewood (west side of the temple) and meet at the Visitors Center trailer</li>
        <li>Wear your Sunday best</li>
    </ul>
    <br />
    <h6>Special accomodations can be made, be sure to click the appropriate box. Spanish tours are offered.</h6>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img src="~/img/Layton-Temple-exterior-rendering.jpg" />
    <a class="btn btn-outline-primary" asp-action="Signup">Signup for a tour</a>

    <br />
    <br />
    <br />

</div>