<!--Page where the user can choose the appointment they want to sign up for-->
@model Group1_7_Project1_IS413.Models.ViewModels.TourListViewModel



<header>
    <div class="text-center">
        <h1>Sign Up</h1>
    </div>
</header>
<div class="text-center">

    <!--for each appointment that has not been booked yet, calls the partial view to fill in each appointments information-->
    @foreach (var x in Model.Tours)
    {
        <partial name="AppointmentSummary" model="x" />
    }
</div>


