@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

*@
@{
}
@model IEnumerable<Group1_7_Project1_IS413.Models.ViewModels.TimeInfo>


<header>
    <div class="text-center">
        <h1>Sign Up</h1>
    </div>
</header>
<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Day</th>
                <th scope="col">Time</th>
                <th scope="col">Availability</th>
                <th scope="col">Reserve</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Group1_7_Project1_IS413.Models.ViewModels.TimeInfo x in Model)
            {
                <tr>
                    <th>@x.Day</th>
                    <th>@x.Time</th>
                    <th>
                        
                    </th>
                </tr>
            }
        </tbody>
    </table>
</div>